


<ion-view view-title="Pickup List">
  <ion-content>

<div class="item search-box">
    <input type="text" placeholder="Search"  ng-model="pickup_list.search"/>
    <span ng-click="searchPickupList($event)"><i class="icon ion-search"></i></span>
</div>


 <div class="list" >
     <div  ng-if="my_pickups">
        <div class="item boking-list" ng-repeat="pickup in my_pickups"  ng-if="pickup.pickup_delivered != pickup.total_awb">
            <a href="#app/pickup-detail/{{pickup.drs_unique_id}}/N">
            <div class="row ">
                <div class="col"><p>Pickup-ID<br />
                     <i class="icon ion-clock"></i> {{pickup.drs_date | date:'dd MMM'}} </p>
                </div>
                <div class="col"><p class="number ">{{pickup.drs_unique_id}}</p></div>
                <div class="col num-col-chan"><p class="number"><span ng-if="pickup.pickup_delivered">{{pickup.pickup_delivered}}</span><span ng-if="!pickup.pickup_delivered">0</span>/{{pickup.total_awb}}</p></div>

                <div class="col  text-right">
                    <ion-label ng-if="pickup.pickup_delivered == pickup.total_awb" class="lable">Picked Up</ion-label>
                    <ion-label ng-if="pickup.pickup_delivered != pickup.total_awb" class="lable-green">To Pick</ion-label>

                </div>
            </div>
           </a>

        </div>

     </div>


     <div class="row" ng-if="my_pickups.length < 1">
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>







   <div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</div>





  </ion-content>
<!--<button class="button button-block button-positive fix_btn_bottom"  ng-click="loadMore()"> More Shipment set</button>-->
</ion-view>
