


<ion-view view-title="Pickup List">
  <ion-content>

<div class="item search-box">
    <input type="text" placeholder="Search" />
    <span ><i class="icon ion-search"></i></span>
</div>


 <div class="list">
 
   <div class="item boking-list">
    <a href="#/">
    <div class="row ">
        <div class="col"><p>Delivered<br />
             <i class="icon ion-clock"></i>  </p>
        </div>
        <div class="col"><p class="number">444444</p></div>

        <div class="col  text-right">
            <ion-label  class="lable">Pickedup</ion-label>
        </div>
    </div>
   </a>
   </div>
   
   <div class="item boking-list">
    <a href="#/">
    <div class="row ">
        <div class="col"><p>Delivered<br />
             <i class="icon ion-clock"></i>  </p>
        </div>
        <div class="col"><p class="number">444444</p></div>

        <div class="col  text-right">
            <ion-label class="lable-green input-label" aria-label="To Pick" id="_label-3">To Pick</ion-label>
        </div>
    </div>
   </a>
   </div>
   
   
   <div class="item boking-list">
    <a href="#/">
    <div class="row ">
        <div class="col"><p>Delivered<br />
             <i class="icon ion-clock"></i>  </p>
        </div>
        <div class="col"><p class="number">444444</p></div>

        <div class="col  text-right">
            <ion-label  class="lable">Pickedup</ion-label>
        </div>
    </div>
   </a>
   </div>
   
   <div class="item boking-list">
    <a href="#/">
    <div class="row ">
        <div class="col"><p>Delivered<br />
             <i class="icon ion-clock"></i>  </p>
        </div>
        <div class="col"><p class="number">444444</p></div>

        <div class="col  text-right">
            <ion-label class="lable-green input-label" aria-label="To Pick" id="_label-3">To Pick</ion-label>
        </div>
    </div>
   </a>
   </div>

     <div class="row" >
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>
   
   
   
   
   
   
   
</div>
<!--<ion-infinite-scroll 
     ng-if="!stopLoader"
     distance="2"
    on-infinite="loadMore()">-->
</ion-infinite-scroll>

  </ion-content>
</ion-view>