<ion-view view-title="Pickup Details">
    <ion-content overflow-scroll="false">
<div class="row">
            <div class="col">
                <button ng-if="booking_detail.pickup_status == 'Y'" class="button button-block green" disabled> Picked Up </button>
<!--                <a href='#' ><span ng-if="booking_detail.pickup_status == 'N'" class="round green">Running</span></a>-->
                <button ng-click='changeStatus($event)' ng-if="booking_detail.pickup_status == 'N'" class="button button-block  new-button1 danger ">PickUp</button>
                <!--<button ng-class="{'button-assertive': booking_detail.lat_lng == '0','button-balanced': booking_detail.lat_lng == '1'}"  ng-click="updateLocation($event)"  class="button-assertive button button-full">Location</button>-->
            </div>
           
<!--            <div class = "col status"><p> <strong>Status</strong> </p> </div>
            <div class = "col">
                <button class="button button-balanced button-small">
                    <span ng-if="booking_detail.delivered == 'D'">Delivered</span>
                    <span ng-if="booking_detail.delivered == 'T'">Picked Up</span>
                    <span ng-if="booking_detail.delivered == 'DL'">Delay</span>
                    <span ng-if="booking_detail.delivered == 'IT'">In Transit</span>
                    <span ng-if="booking_detail.delivered == 'PP'">Proceed</span>
                    <span ng-if="booking_detail.delivered == 'B'">Booked</span>

                    <span ng-if="booking_detail.delivered == 'HFP'">Hold For Pick Up</span>
                    <span ng-if="booking_detail.delivered == 'GUP'">General Update</span>
                    <span ng-if="booking_detail.delivered == 'HCNRC'">Hold Customer Not Responded Closed</span>
                    <span ng-if="booking_detail.delivered == 'SHNI'">Shipment In Hand Need More Information</span>
                    <span ng-if="booking_detail.delivered == 'C'">Cancelled</span>
                    <span ng-if="booking_detail.delivered == 'RTS'">Return To Shipper</span>
                    <span ng-if="booking_detail.delivered == 'SHC'">Shipment Hold In Customer For Checking</span>
                </button>  
            </div>-->
            
             </div>
         <div class="row">
                <div class="col">
                    <h4 class="set-number"><strong>AWB#</strong> <span >{{booking_detail.slip_no}}</span></h4>
                </div>
            </div>   
               
            <div class = "row" ng-init="getBookingDetail()">
                <div class = "col">

                    <div class="card">
                        <div class="item background">
                            <i class="icon ion-arrow-up-a"></i> Collection
                        </div>

                        <div class="item item-text-wrap">

                            <div class="list">
                                <div class="item"><i class="icon ion-person"></i> {{booking_detail.sender_name}}</div>
                                <div class="item"><i class="icon ion-location"></i> {{booking_detail.sender_address}}</div>
                                <div class="item"><i class="icon ion-email"></i> {{booking_detail.sender_email}}</div>
                                <div class="item"><i class="icon ion-iphone"></i> {{booking_detail.sender_phone}}</div>
                                <div class="item"><button ng-class="{'button-assertive': booking_detail.lat_lng == '0','button-balanced': booking_detail.lat_lng == '1'}"  ng-click="updateLocation($event)"  class="button-assertive button button-full">Location</button></div>
                            </div>


                        </div>
                    </div>


                    <div class="card">
                        <div class="item background">
                            <i class="icon ion-arrow-down-a"></i> Delivery
                        </div>

                        <div class="item item-text-wrap">
                            <div class="item"><i class="icon ion-person"></i> {{booking_detail.reciever_name}}</div>
                            <div class="item"><i class="icon ion-location"></i> {{booking_detail.reciever_address}}</div>
                            <div class="item"><i class="icon ion-email"></i> {{booking_detail.reciever_email}}</div>
                            <div class="item"><i class="icon ion-iphone"></i> {{booking_detail.reciever_phone}}</div>

                        </div>
                    </div>


                    <div class="card">
                        <div class="item background">
                            Other Details
                        </div>

                        <div class="item item-text-wrap other">
                            <div class="row">
                            <div class="col">
                           <table>
                                <tr>
                                    <td><strong>Booking Date / Time: </strong></td>
                                    <td>{{booking_detail.entrydate}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Parcel Description: </strong></td>
                                    <td>{{booking_detail.status_describtion}}</td>
                                </tr>
                                
                                <tr>
                                    <td><strong>Weight : </strong></td>
                                    <td>{{booking_detail.weight}} (KG)</td>
                                </tr>

                                <tr>
                                    <td><strong>Shipment Type :</strong></td>
                                    <td>{{booking_detail.mode}}</td>
                                </tr>

                          

                                <tr ng-if="booking_detail.mode == 'COD'">
                                    <td><strong>COD Amount :</strong></td>
                                    <td >{{booking_detail.total_cod_amt}}(Rs)</td>
                                </tr>
                            </table>
                            </div>
                                
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </ion-content>
</ion-view>

