


<ion-view view-title="Pickup History">
  <ion-content>

<div class="hello-2"></div>
<div class="item search-box">
<input type="text" placeholder="Search" />
<span><i class="icon ion-search"></i></span>
</div>



<div class="list">

   <div class="item boking-list">
   
   <div class="row ">
   <div class="col"><span class="round">D</span></div>
   <div class="col"><p><a href="#">AWB#</a>
                       <p class="number"><a href="#">258741369</a></p></p></div>
   <div class="col  text-right">   <p><i class="icon ion-clock"></i> 23Feb</p>
</div>
 </div>
   
   </div>
   
   <div class="item  boking-list">
   
   <div class="row">
   <div class="col">
   		<span class="round green">R</span>
   </div>
   <div class="col"><p><a href="#">AWB#</a>
                       <p class="number"><a href="#">258741369</a></p></p></div>
   <div class="col  text-right">   <p><i class="icon ion-clock"></i> 23Feb</p>
</div>
 </div>
   
   </div>
   
   
   <div class="item boking-list">
   
   <div class="row ">
   <div class="col">
   		<span class="round">D</span>
   </div>
   <div class="col">
   <p><a href="#">AWB#</a>
                       <p class="number"><a href="#">258741369</a></p></p></div>
   <div class="col text-right">   <p><i class="icon ion-clock"></i> 23Feb</p>
</div>
 </div>
   
   </div>
   
   <div class="item  boking-list">
   
   <div class="row">
   <div class="col">
   		   		<span class="round green">R</span>

   </div>
   <div class="col"><p><a href="#">AWB#</a>
                     <p class="number"><a href="#">258741369</a></p></p></div>
   <div class="col  text-right">   <p><i class="icon ion-clock"></i> 23Feb</p>
</div>
 </div>
   
   </div>
   
   <div class="item  boking-list">

   <div class="row">
   <div class="col">
      		   		<span class="round">D</span>

   </div>
   <div class="col"><p><a href="#">AWB#</a>
                       <p class="number"><a href="#">258741369</a></p></p></div>
   <div class="col  text-right">   <p><i class="icon ion-clock"></i> 23Feb</p>
</div>
 </div>
 

   
   </div>
   
   
   
   
   
</div>




  </ion-content>
</ion-view>