<ion-view view-title="Sect Pickup Location">
  <ion-content >
<div class="mape">
<div id="googleMap" ></div>
</div>


<div class="list">
   <label class="item item-input">
   <input type="text" placeholder="Address">
   </label>
</div>


<button class="button button-full">Primary</button>

</div>
</div>

<input type="hidden" id="map_data">
<input type="hidden" id="address_id">
<input type="hidden" id="lang_new">
<input type="hidden" id="lat_new">

  </ion-content>
</ion-view>
