<ion-view view-title="Deliverd">
  <ion-content>
   
    <div class = "row">
    
     <div class="card col">
   <div class="item">
      #AWB NO. <span class="cord-detale">10034444</span>
   </div>
   
   <div class="item item-text-wrap">
   	<div class="box-d right-m">
    	<p>Name</p>
        <p>Address</p>
        <p>Mobile-No:</p>
    </div>
    <div class="box-d">
    	<p>Ram JI</p>
        <p>Bikaner</p>
        <p>1234569</p>
    </div>
   </div>
   
   
   
</div>
    
  
  
   

   </div>
   
   <div class = "row">
    
     <div class="card col">
   <div class="item">
      #AWB NO. <span class="cord-detale">10034444</span>
   </div>
   
   <div class="item item-text-wrap">
   	<div class="box-d right-m">
    	<p>Name</p>
        <p>Address</p>
        <p>Mobile-No:</p>
    </div>
    <div class="box-d">
    	<p>ravi </p>
        <p>Bikaner</p>
        <p>1234569</p>
    </div>
   </div>
   
   
   
</div>
    
  
  
   

   </div>
   
 <button class="button button-block">
   Deliverd
</button>
  </ion-content>
</ion-view>
