<ion-view view-title="Chat" class="set-back">
    <ion-content>
		<div class="row">
        	<div class="col fix_chat">
            	<img src="http://placehold.it/50x50">
            </div>
            
            <div class="col col-80">
            	<a href="#/" class="chat_msg">
                	Hello Bhai
                </a>
            </div>
        </div>
		
        <div class="row">
        	
            
            <div class="col col-80">
            	<a href="#/" class="chat_msg right_set">
                	Kya hal hai
                </a>
            </div>
            
            <div class="col fix_chat">
            	<img src="http://placehold.it/50x50">
            </div>
        </div>


<div class="row">
        	<div class="col fix_chat">
            	<img src="http://placehold.it/50x50">
            </div>
            
            <div class="col col-80">
            	<a href="#/" class="chat_msg">
                	kya kar rha hai tu
                </a>
            </div>
        </div>
		
        <div class="row">
        	
            
            <div class="col col-80">
            	<a href="#/" class="chat_msg right_set">
                	Kuch nhi eagle me kaam karta hu bhai sr web designer.
                </a>
            </div>
            
            <div class="col fix_chat">
            	<img src="http://placehold.it/50x50">
            </div>
        </div>
        
        
           
	</ion-content>

    <ion-footer-bar keyboard-attach="" class="bar-stable item-input-inset bar bar-footer">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" class="ng-valid ng-touched ng-dirty ng-empty" style="">
          </label>
          <button class="button button-clear" ng-click="sendMessage()">
            Send
          </button>
    </ion-footer-bar> 
</ion-view>    