<ion-view view-title="Chat" class="set-back">
    <ion-content>

<div class = "row back_col">
   <div class ="col align_set"><a href="#/app/chat">CHATS</a></div>
   <div class ="col align_set"><a href="#/app/contact">CONTACTS</a></div>
</div>
    
<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>

<div class="list fix_tag">
	<a href="#/app/chat_contact">
   		<div class="item item-avatar">
      <img src="http://placehold.it/410x320">
      <h3>Avatar <span class="date_teg"><small>12:21 PM</small></span></h3>
      
      <p>Ammy: hello bhai kya kar rha hai</p>
   </div>
   </a>
</div>
        
	</ion-content>
</ion-view>    