<ion-view view-title="Contact Us">
  <ion-content>
   
    <div class = "row">
        
     
    
   <div class = "col align-text">
   
  <p><strong>Riyadh الرياض</strong><br />
  			FAST OPTIONS CO<br />
			Gernatah area crossing kahled bin alwaleed <br />
 			st - exit 9 <br />
  						<br />
  			Phone:0112401124<br /><br />
  </p>
   
   <h3>Drop Your Message</h3>
   <span ng-if="message" style="color: green;">{{message}}</span>
   
   <form ng-submit="submitForm($event,contact_us)">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="contact_us.name" required>
                <span style="color:red;" ng-if="errors.name">{{errors.name}}</span>
            </label>
            
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="contact_us.email" required>
                <span style="color:red;" ng-if="errors.email">{{errors.email}}</span>
            </label>
            
            <label class="item item-input">
                <input type="number" placeholder="Mobile Number" ng-model="contact_us.mobile" required>
                <span style="color:red;" ng-if="errors.mobile">{{errors.mobile}}</span>
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="Subject" ng-model="contact_us.subject" required>
                <span style="color:red;" ng-if="errors.subject">{{errors.subject}}</span>
            </label>
            
            <label class="item item-input">
                <textarea placeholder="Requirements" ng-model="contact_us.message" required></textarea>
                <span style="color:red;" ng-if="errors.message">{{errors.message}}</span>
            </label>
            
        </div>
        <button class="button button-block" type="submit">Submit Message</button>
   </form>
   
   </div>

 </div>
  </ion-content>
</ion-view>
