<ion-view view-title="Dashboard">
    <ion-content>


        <!--<div class="row das-bord">

            <div class="col">
            <a href="#/app/booking_list">
            <i class="icon ion-clipboard"></i>
            <p>Pickup List</p>
            </a>
            </div>

            <div class="col">
            <a href="#/app/pickup-history">
            <i class="icon ion-stats-bars"></i>
            <p>Pickup History </p>
            </a>
            </div>

        </div>-->

        <div class="row das-bord">
            <div class="col">
            <a href="#/app/drs-list">
            <i class="icon ion-person-add"></i>
            <p> DRS List </p>
            </a>
            </div>

            <div class="col">
            <a href="#/app/delivered">
            <i class="icon ion-person-add"></i>
            <p> DRS History</p>
            </a>
            </div>

        </div>

        <div class="row das-bord">
            <div class="col">
            <a href="#/app/profile">
           <i class="icon ion-person"></i>
           <p> profile</p>
            </a>
            </div>

            <!-- <div class="col">
            <a href="#/app/profile-update">
            <i class="icon ion-edit"></i>
            <p>Edit Profile</p>
            </a>
            </div> -->

        </div>
        <div class="row das-bord">
            <div class="col">
            <a href="#/app/news-detail">
           <i class="icon ion-android-notifications-none"></i>
           <p> Notification</p>
            </a>
            </div>



        </div>


    </ion-content>
</ion-view>
