<ion-view view-title="DRS History">
  <ion-content overflow-scroll="false">

<div class="item search-box">
    <input type="text" placeholder="Search"  ng-model="drs_list.search"/>
    <span ng-click="searchDeliveredList($event)"><i class="icon ion-search"></i></span>
</div>


 <div class="list"  >
     <div ng-if="my_drs">
        <div class="item boking-list"  ng-repeat="drs in my_drs" ng-if="drs.delivered == 'Y'">
            <a href="#app/drs-booking-detail/{{drs.drs_unique_id}}">
            <div class="row ">
                <div class="col"><p>DRS-ID<br />
                     <i class="icon ion-clock"></i> {{drs.drs_date | date:'dd MMM'}} </p>
                </div>
                <div class="col"><p class="number">{{drs.drs_unique_id}}</p></div>
                <div class="col  num-col-chan"><p class="number">{{drs.pickup_delivered}}/{{drs.total_awb}}</p></div>
                <div class="col  text-right">
                    <ion-label ng-if="drs.pickup_delivered == drs.total_awb" class="lable">Delivered</ion-label>
                    <ion-label ng-if="drs.pickup_delivered != drs.total_awb" class="lable-green">Running</ion-label>
                </div>
            </div>
           </a>
       </div>
     </div>


     <div class="row" ng-if="my_drs.length < 1">
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>

</div>

   <div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</div>





  </ion-content>
<!--<button class="button button-block button-positive fix_btn_bottom"  ng-click="loadDeliveredMore()"> More ...</button>-->
</ion-view>
