<ion-view view-title="DRS Booking Detail">
    <ion-content overflow-scroll="false">

        <div class="row">
                <div class="col">
                    <h4 class="set-number"><strong>AWB#</strong> <span >{{booking_detail[0].slip_no}}</span></h4>
                </div>
            </div>



            <div class = "row" ng-init="getBookingDetail()">



                <div class = "col">




                    <div class="card">
                        <div class="item background">
                            <i class="icon ion-arrow-down-a"></i> Delivery
                        </div>

                        <div class="item item-text-wrap">
                            <div class="item"><i class="icon ion-person"></i> {{booking_detail[0].reciever_name}}</div>
                            <div class="item"><i class="icon ion-iphone"></i> {{booking_detail[0].reciever_phone}}</div>
                            <div class="item"><i class="icon ion-email"></i> {{booking_detail[0].reciever_email}}</div>
                            <div class="item"><i class="icon ion-location"></i> {{booking_detail[0].reciever_address}}</div>
                            <!-- <div class="item"><button ng-class="{'button-assertive': booking_detail.lat_lng == '0','button-balanced': booking_detail.lat_lng == '1'}"  ng-click="updateLocation($event)"  class="button-assertive button button-full">Location</button></div> -->
                            <div class="item"><i class="icon ion-cash"></i> {{booking_detail[0].payment_method}}</div>

                            <div class="item">
                              <a href="" ng-if="booking_detail[0].order_status == '2'" ng-click="accept_delivery({{booking_detail[0].slip_no}})" class="button-assertive button button-full">Accept Shipment</a>
                              <a href="" ng-if="booking_detail[0].drs_status == 'N' && booking_detail[0].order_status != '2'" ng-click="reject_delivery1({{booking_detail[0].slip_no}})" class="button-assertive button button-full">Emergency Reject</a>
                              <a href="" ng-if="booking_detail[0].order_status == '2'" ng-click="reject_delivery({{booking_detail[0].slip_no}})" class="button-assertive button button-full">Cancel Shipment</a>
                              <a href="" ng-if="booking_detail[0].drs_status == 'N' && booking_detail[0].order_status != '2'" ng-click="openLocation('{{booking_detail[0].shipping_postcode}}')"  class="button-assertive button button-full">Customer Location Map</a>
                              <a href="" ng-if="booking_detail[0].drs_status == 'Y'" class="button-assertive button button-full">Delivered</a>
                            </div>
                        </div>
                    </div>


                     <!--<div class="card">
                        <div class="item background">
                            <i class="icon ion-arrow-up-a"></i> Collection
                        </div>

                        <div class="item item-text-wrap">

                            <div class="list">
                                <div class="item"><i class="icon ion-person"></i> {{booking_detail.sender_name}}</div>
                                <div class="item"><i class="icon ion-location"></i> {{booking_detail.sender_address}}</div>
                                <div class="item"><i class="icon ion-email"></i> {{booking_detail.sender_email}}</div>
                                <div class="item"><i class="icon ion-iphone"></i> {{booking_detail.sender_phone}}</div>
                            </div>


                        </div>
                    </div>-->

                    <div class="card" >
                        <div class="item background">
                            Order Detail
                        </div>

                        <div class="item item-text-wrap other">
                            <div class="row">
                            <div class="col"><table>
                              <tr>
                                  <td><strong>Order ID :</strong></td>
                                  <td>{{booking_detail[0].slip_no}}</td>
                              </tr>
                                <tr>
                                    <td><strong>Date Added :</strong></td>
                                    <td>{{booking_detail[0].date_added}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Payment Method :</strong></td>
                                    <td>{{booking_detail[0].payment_method}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Shipping Method :</strong></td>
                                    <td>{{booking_detail[0].shipping_method}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Product :</strong></td>
                                    <td>{{booking_detail[0].name}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Quantity :</strong></td>
                                    <td>{{booking_detail[0].quantity}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total :</strong></td>
                                    <td>{{booking_detail[0].total}}</td>
                                </tr>






                                <tr ng-if="booking_detail[0].booking_mode == 'COD'">
                                    <td><strong>COD Amount : </strong></td>
                                    <td >{{booking_detail[0].total_cod_amt}}(MMK)</td>
                                </tr>

                            </table>
                            </div>
<!--                                <div class="col" ng-if="booking_detail.drs_status == 'Y'">
                                        <strong>Recipient Signature:</strong>
                                        <img ng-src="{{BASEURL}}/signature_img/{{booking_detail.sign_image}}"/>
                                </div>-->

                            </div>
                        </div>
                    </div>
                    <div class="col" ng-if="booking_detail[0].drs_status == 'Y'">
                    <div class="card"  >
                        <div class="item background">
                            <i class="icon ion-android-clipboard"></i> Delivery Details:
                        </div>

                        <div class="item item-text-wrap" >
                          <p>Signature :</p>
                            <img ng-src="{{BASEURL}}/../sign/{{booking_detail[0].slip_no}}_sign.png" width="100%"/>

                          <p>
                            <div class=" item-text-wrap other">
                                <div class="row">
                                <div class="col"><table>
                                  <tr>
                                      <td><strong>Delivery Time :</strong></td>
                                      <td>{{booking_detail[0].delivery_time}}</td>
                                  </tr>
                                    <tr>
                                        <td><strong>Receiver Name :</strong></td>
                                        <td>{{booking_detail[0].reciever_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Receiver No :</strong></td>
                                        <td>{{booking_detail[0].receiver_no}}</td>
                                    </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card" ng-show='booking_detail[0].receiver_image' >
                        <div class="item background">
                            <i class="icon ion-android-clipboard"></i> Recipient Photo
                        </div>

                        <div class="item item-text-wrap">
                            <img ng-src="{{BASEURL}}/receiver_img/{{booking_detail[0].receiver_image}}"/>
                        </div>
                    </div>
                  </div>

                </div>

            </div>

            <div class="row">

                     <!--                <button ng-if="booking_detail.drs_status == 'N'" ng-click="go('/app/signature-pad/{{booking_detail.slip_no}}')" class="button button-block new-button">Running</button>-->

                           <!-- <a  ng-if="booking_detail.drs_status == 'N'" href='#/app/signature-pad/{{booking_detail.slip_no}}' class="button button-block new-button green" >Delivered</a>

                            <button ng-if="booking_detail.drs_status == 'Y'"  class="button button-block new-button" disabled>Delivered</button>-->
                             <div class="col" ng-if="booking_detail[0].drs_status == 'N' && booking_detail[0].order_status != '2'">
                            <form ng-submit="test($event)" name="drssubmit">




                   <!-- <select name="status_all"   ng-model="updatedata.status" style="width:100%;left:0;min-height:30px; padding:10px;"  required>

                            <option value="">PLEASE SELECT </option>


                            <option value="DL" >Delay</option>
                            <option value="D" >Delivered</option>

                            </select>
                            <div>&nbsp;</div>

                            <div ng-if="updatedata.status=='DL'">
                             <select      ng-model="updatedata.coment_status" style="width:100%;left:0;min-height:30px; padding:10px;"  required>

                            <option value="">Please Select Status </option>
                             <option value="Door Locked" >Door Locked</option>
                            <option value="Customer Not at Home" >Customer Not at Home</option>
                              <option value="Payment Not ready" >Payment Not ready</option>
                               <option value="Need it on Other Day" >Need it on Other Day</option>
                               <option value="Rejected by Customer" >Rejected by Customer</option>

                            </select>
                            </div>
                            <div>&nbsp;</div>

                             <div ng-if="updatedata.status=='R'">
                             <select      ng-model="updatedata.coment_status"  style="width:100%;left:0;min-height:30px; padding:10px;"  required>

                            <option value="">Please Select Status </option>
                             <option value="Door Locked" >Door Locked</option>
                            <option value="Customer Not at Home" >Customer Not at Home</option>
                              <option value="Payment Not ready" >Payment Not ready</option>
                               <option value="Need it on Other Day" >Need it on Other Day</option>
                               <option value="Rejected by Customer" >Rejected by Customer</option>

                            </select>
                            </div>


                               <div>&nbsp;</div>

                           <button   type="submit" ng-disabled="drssubmit.$invalid" class="button button-block new-button" name="updatestatus" >Update Status</button> -->

               </form>


                        </div>

                         <div class="col" ng-if="booking_detail.delivered == 'DL' && booking_detail.drs_status == 'Y'">
                  <button   type="button" class="button button-block new-button disabled" name="updatestatus" >Attempted</button>
                 </div>
                 <div class="col" ng-if="booking_detail.delivered == 'D' && booking_detail.drs_status == 'Y'">
                  <button   type="button" class="button button-block new-button disabled" name="updatestatus" >Delevered</button>
                 </div>
                  <div class="col" ng-if="booking_detail.delivered == 'R' && booking_detail.drs_status == 'Y'">
                  <button   type="button" class="button button-block new-button disabled" name="updatestatus" >Rejected by Customer</button>
                 </div>




            <!--            <div class = "col status"><p> <strong>Status</strong> </p> </div>
                        <div class = "col">
                            <button class="button button-balanced button-small">
                                <span ng-if="booking_detail.delivered == 'D'">Delivered</span>
                                <span ng-if="booking_detail.delivered == 'T'">Picked Up</span>
                                <span ng-if="booking_detail.delivered == 'DL'">Delay</span>
                                <span ng-if="booking_detail.delivered == 'IT'">In Transit</span>
                                <span ng-if="booking_detail.delivered == 'PP'">Proceed</span>
                                <span ng-if="booking_detail.delivered == 'B'">Booked</span>

                                <span ng-if="booking_detail.delivered == 'HFP'">Hold For Pick Up</span>
                                <span ng-if="booking_detail.delivered == 'GUP'">General Update</span>
                                <span ng-if="booking_detail.delivered == 'HCNRC'">Hold Customer Not Responded Closed</span>
                                <span ng-if="booking_detail.delivered == 'SHNI'">Shipment In Hand Need More Information</span>
                                <span ng-if="booking_detail.delivered == 'C'">Cancelled</span>
                                <span ng-if="booking_detail.delivered == 'RTS'">Return To Shipper</span>
                                <span ng-if="booking_detail.delivered == 'SHC'">Shipment Hold In Customer For Checking</span>
                            </button>
                        </div>-->

                         </div>

    </ion-content>

</ion-view>
