<ion-view view-title="DRS Detail">
  <ion-content overflow-scroll="false">

<div class="row">
	
   
    
    <div class="col">
     <div class="item search-box">
    	<input type="text" placeholder="Search"  ng-model="search"/>
    	<span ng-click="searchList($event,search)"><i class="icon ion-search"></i></span>
	 </div>
    </div>
</div>


<div class="list" ng-init="getDrsDetail()">

<div ng-if="awb_list" class="item boking-list" ng-repeat="row in awb_list">
    <a href="#app/drs-booking-detail/{{row.shipment_id}}">
        <div class="row">
             <div class="col">
                 <span ng-if="row.delivered == 'Y'" class="round">D</span>
                 <span ng-if="row.delivered == 'N'" class="round green">R</span>
             </div>
             <div class="col">AWB#
                 <p class="number">{{row.shipment_id}}</p>
             </div>
             <div class="col  text-right"> 
                 <p><i class="icon ion-clock"></i> {{row.drs_date | date:'dd MMM'}}</p>
             </div>
         </div>
    </a>
</div>
    
     <div class="row" ng-if="awb_list.length < 1">
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>
   
  
   
</div>

   <div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>  
</div>


  


  </ion-content>
<button class="button button-block button-positive fix_btn_bottom"  ng-click="loadMore()"> More Shipment set</button>
</ion-view>



















