<ion-view view-title="Login" >
  <ion-content>
   
    <div class = "row">
        
     
    
   <div class = "col login login-box">
   
   <img src="img/login.png"/>
   
   <form ng-submit="submitForm($event,forgot_password)" name="forgot">  
       <span style="color: green;" ng-if="message">{{message}}</span>
       <span style="color: red;" ng-if="error">{{error}}</span>
        <div class="list">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="forgot_password.email" required>
            </label>
        </div>

        <button class="button button-block" type="submit" ng-disabled="login.$invalid">
            Send Email 
        </button>
   </form>

    <p>
        <a href="#/auth/login">Login</a>
    </p>
    <p>
        <p><a href="#/auth/register">Need A Account</a></p>
    </p>
   
   </div>

 </div>
  </ion-content>
</ion-view>
