<ion-view view-title="Login "  class="login  login-box" hide-nav-bar="true">

  <ion-content>

  <div>
      <div class = "row" >



   <div class = "col">

   <img src="img/logo.png"/>

   <form ng-submit="authenticate()" name="login">
       <span style="color: red;" ng-if="error">{{error}}</span>
        <div class="list">
            <label class="item item-input custom-input">
                <input type="email" placeholder="Email" ng-model="user.email" name="user.email" autocomplete="off" required>
            </label>

            <label class="item item-input custom-input">
                <input type="password" placeholder="Password" name="user.password" ng-model="user.password" autocomplete="off" required>
            </label>
        </div>

        <button class="button button-block" type="submit" ng-disabled="login.$invalid">
            Sign In
        </button>
   </form>
    <br />
    <br>

    <!--<p><a href="#/app/forgot-password">Forgot Password ?</a></p>-->

    <p>&ensp;</p>
    <p>&ensp;</p>


    <p><a href="#/">Copyright @2018 waaneizadigitalmarket.com</a></p>

   </div>
</div>
 </div>
  </ion-content>
</ion-view>
