<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Driver App</h1>
    </ion-header-bar>
    <ion-content class="m-color">
      <ion-list>

   <ion-item menu-close href="#/app/dashboard">
        <i class="icon ion-navicon-round"></i> Dashboard
        </ion-item>
         <!--<ion-item menu-close href=""  ng-click="scan();">
        <i class="icon  ion-qr-scanner"></i> Scan AWB
        </ion-item>






        <ion-item menu-close href="#/app/booking_list">
        <i class="icon ion-clipboard"></i> Pickup List
        </ion-item>


        <ion-item menu-close href="#/app/pickup-history">
            <i class="icon ion-stats-bars"></i>   Pickup History
        </ion-item>-->

            <ion-item menu-close href="#/app/drs-list">
                <i class="icon ion-person-add"></i> DRS List
            </ion-item>

        <ion-item menu-close href="#/app/delivered">
            <i class="icon ion-person-add"></i> DRS History
        </ion-item>

        <ion-item menu-close href="#/app/profile">
        <i class="icon ion-person"></i>  profile
        </ion-item>

         <ion-item menu-close  href="#" ng-click="logout($event)">
          <i class="icon ion-locked"></i>   Log out
        </ion-item>

           <!-- <ion-item menu-close href="#/app/profile-update">
                <i class="icon ion-person"></i>  profile update
            </ion-item>-->



      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
