<ion-view view-title="my page ">
    <ion-content>
    
    
        dsghsdhyshs
        
        <div class="row das-bord">
            <div class="col">
            <a href="#/app/drs-list">
            <i class="icon ion-person-add"></i>
            <p> DRS List </p>
            </a>
            </div>
            
            <div class="col">
            <a href="#/app/delivered">
            <i class="icon ion-person-add"></i>
            <p> DRS History</p>
            </a>
            </div>
            
        </div>
        
        <div class="row das-bord">
            <div class="col">
            <a href="#/app/profile">
           <i class="icon ion-person"></i> 
           <p> profile</p>
            </a>
            </div>
            
            <div class="col">
            <a href="#/app/profile-update">
            <i class="icon ion-edit"></i>
            <p>Edit Profile</p>
            </a>
            </div>
            
        </div>


    </ion-content>
</ion-view>


