


<ion-view view-title="News List">
  <ion-content overflow-scroll="false">


 <div class="list" ><!--ng-if="drs.pickup_delivered != drs.total_awb" -->
     <div ng-if="news_list">
         <div class=" boking-list"  ng-repeat="drs in news_list" style="height:auto;">
            <a href="#app/drs-booking-detail/{{drs.drs_unique_id}}" style="border-bottom: 1px solid black;">
            <div class="row " >
                <div class="col" ><h5>{{drs.heading}}</h5>{{drs.content}}<hr></div>
            </div>
           </a>
        </div>

     </div>


     <div class="row" ng-if="my_drs.length < 1">
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>







</div>



   <div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</div>





  </ion-content>
<!--<button class="button button-block button-positive fix_btn_bottom"  ng-click="loadMore()"> More Shipment set</button>-->
</ion-view>
