<ion-view view-title="Pickup History List">
  <ion-content overflow-scroll="false">

<div class="item search-box">
    <input type="text" placeholder="Search"  ng-model="pickup_list.search"/>
    <span ng-click="searchPickupHistoryList($event)"><i class="icon ion-search"></i></span>
</div>


 <div class="list"  >
     <div ng-if="my_pickups">
         <div class="item boking-list" ng-repeat="pickup in my_pickups" ng-if="pickup.delivered == 'Y'"  >
            <a href="#app/pickup-detail/{{pickup.drs_unique_id}}/Y">
            <div class="row ">
                <div class="col"><p>Pickup-ID<br />
                     <i class="icon ion-clock"></i> {{pickup.drs_date | date:'dd MMM'}} </p>
                </div>
                <div class="col"><p class="number">{{pickup.drs_unique_id}}</p></div>
                <div class="col num-col-chan"><p class="number"><span ng-if="pickup.pickup_delivered">{{pickup.pickup_delivered}}</span><span ng-if="!pickup.pickup_delivered">0</span>/{{pickup.total_awb}}</p></div>
                <div class="col  text-right">
                    <ion-label ng-if="pickup.pickup_delivered == pickup.total_awb" class="lable">Pickedup</ion-label>
                    <ion-label ng-if="pickup.pickup_delivered != pickup.total_awb" class="lable-green">To Pick</ion-label>
                </div>
            </div>
           </a>
        </div>
         
     </div>
   

     <div class="row" ng-if="my_pickups.length < 1">
        <button class="button button-assertive">
            !No data found.
        </button>
    </div>
   
   
   
   
   
   
   
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
   <div class="row">
  <div class="col">
  
  <button class="button button-block button-positive fix_btn_bottom"  ng-click="loadMoreHistory()"> More  </button>
  </div>
  </div>
  </ion-content>

</ion-view>