<ion-view view-title="Profile Update">
  <ion-content>

      <div class = "row" ng-init="profileDetail()">

    <div class = "col login padding-left">
    <form ng-submit="updateProfile($event)" name="register_form">
            <span ng-if="message" style="color: green;">{{message}}</span>

   <div class="list">
   <label class="item item-input">
        <input type="text" placeholder="First Name" name="fname" ng-model="user_detail.messenger_first_name" required>
        <span style="color:red;"   ng-if="errors.messenger_name">{{errors.messenger_first_name}}</span>
   </label>
   <label class="item item-input">
        <input type="text" placeholder="Last Name" name="lname" ng-model="user_detail.messenger_last_name" required>
        <span style="color:red;"   ng-if="errors.messenger_name">{{errors.messenger_last_name}}</span>
   </label>


<!--
<label class = "item item-input item-select" ng-init="getCityList()">
   <div class = "input-label">
     City
   </div>
    <select ng-model="user_detail.city" class="form-control">
        <option value='' ng-selected="user_detail.city == ''">Select a City</option>
        <option ng-repeat="c in cities" value="{{c.id}}" ng-selected="user_detail.city== c.id">{{c.city}}</option>
    </select>
</label>-->

     <label class="item item-input" >
   <input type="text" numbers-only placeholder="Mobile" ng-model="user_detail.mobile" required ng-pattern="/^[0-9]+$/">
   <span style="color:red;"   ng-if="errors.mobile">{{errors.mobile}}</span>
   </label>

   <label class="item item-input">
   <input type="text" placeholder="Address" ng-model="user_detail.vehicle_number" required>
   <span style="color:red;"   ng-if="errors.vehicle_number">{{errors.vehicle_number}}</span>
   </label>

   <label class="item item-input">
   <input type="email" placeholder="Email Address" ng-model="user_detail.email" readonly>
   <span style="color:red;"   ng-if="errors.email">{{errors.email}}</span>
   </label>

   <label class="item item-input">
   <input type="password" placeholder="Password" ng-model="user_detail.password" required>
   <span style="color:red;"   ng-if="errors.password">{{errors.password}}</span>
   </label>

    <label class="item item-input">
   <input type="password" placeholder="Confirm Password" ng-model="user_detail.confirm_password" required>
   <span style="color:red;"   ng-if="errors.confirm_password">{{errors.confirm_password}}</span>
   </label>

</div>
<button class="button button-block" type="submit" ng-disabled="register_form.$invalid">
   Update
</button>
      </form>

   </div>

   </div>

  </ion-content>
</ion-view>
