<ion-view view-title="My profile">
    <ion-content has-header="true" >

      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="img/login.png">

          <h3 id="profile-name">{{current_user[0].messenger_name}}</h3>
          <p>{{$parent.today_date | date:'yyyy-MM-dd'}}</p>
          <p>{{current_user[0].vehicle_number}}</p>
          <p>{{current_user[0].mobile}}</p>
<div class="list">
  <!-- <a href="#/app/profile-update"><div class="item">Update Profile</div></a> -->
 <!-- /* <a href="#/"><div class="item">Change Password</div></a>*/-->
   <!--<a href="#/app/booking_list"><div class="item">My Bookings</div></a>-->
</div>
        </div>
      </div>
      </ion-content>
</ion-view>
