<ion-view view-title="Register" hide-nav-bar="true">
  <ion-content>
    <div class = "row">
        
        
         <div class = "col login padding-left">
    <form ng-submit="register($event,user)" name="register_form">
            <span ng-if="message" style="color: green;">{{message}}</span>

   <div class="list">
   <label class="item item-input">
        <input type="text" placeholder="Name" name="name" ng-model="user.messenger_name" required>
        <span style="color:red;"   ng-if="errors.messenger_name">{{errors.messenger_name}}</span>
   </label>


<!--
<label class = "item item-input item-select" ng-init="getCityList()">
   <div class = "input-label">
     City
   </div>
    <select ng-model="user.city" class="form-control">
        <option value='' ng-selected="user.city == ''">Select a City</option>
        <option ng-repeat="c in cities" value="{{c.id}}" ng-selected="user.city== c.id">{{c.city}}</option>
    </select>
</label>-->
   
     <label class="item item-input" >
   <input type="text" numbers-only placeholder="Mobile" ng-model="user.mobile" required ng-pattern="/^[0-9]+$/">
   <span style="color:red;"   ng-if="errors.mobile">{{errors.mobile}}</span>
   </label>
   
   <label class="item item-input">
   <input type="text" placeholder="Vehicle Number" ng-model="user.vehicle_number" required>
   <span style="color:red;"   ng-if="errors.vehicle_number">{{errors.vehicle_number}}</span>
   </label>
   
   <label class="item item-input">
   <input type="email" placeholder="Email Address" ng-model="user.email" required>
   <span style="color:red;"   ng-if="errors.email">{{errors.email}}</span>
   </label>
   
   <label class="item item-input">
   <input type="password" placeholder="Password" ng-model="user.password" required>
   <span style="color:red;"   ng-if="errors.password">{{errors.password}}</span>
   </label>
   
    <label class="item item-input">
   <input type="password" placeholder="Confirm Password" ng-model="user.confirm_password" required>
   <span style="color:red;"   ng-if="errors.confirm_password">{{errors.confirm_password}}</span>
   </label>
   
</div>
<button class="button button-block" type="submit" ng-disabled="register_form.$invalid">
   Register
</button>
      </form>
   
   </div>
        
   </div>
 
  </ion-content>
</ion-view>
