<ion-view view-title="DRS List">
    <ion-content>

          <canvas id='signatureCanvas'  class="padding-horizontal" style="width: 100%;border: 1px solid black;"></canvas>
  <!--
        <button class="button button-full button-assertive" ng-click="takePhoto()">
            Take Photo
        </button>

        <button class="button button-full button-assertive" ng-click="choosePhoto()">
            Choose Photo
        </button>
      -->


        <form ng-submit="saveCanvas()" name="sign_pad_form">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="sign.name" required>
            </label>

            <label class="item item-input">
                <input type="number" placeholder="mobile" ng-model="sign.mobile" required>
            </label>



            <div class='button-bar'>
                <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
                <button class='button button-balanced' type="submit" ng-disabled="sign_pad_form.$invalid">Save & Delivered</button>
            </div>
            <br>
        </form>



<!--        <img ng-src="{{ srcImage }}" />-->
    </ion-content>

</ion-view>
