<ion-view view-title="Pick Up Location">
    <ion-content >
       <ng-map id="custom" zoom="14" center="[{{Latitude}},{{Longitude}}]"  style="height:90%"  >
    
      <marker
            centered="true"
            position="[{{Latitude}},{{Longitude}}]" 
             title="You are here"
             draggable="false"
           
            >
        </marker>
       
            
            <marker ng-if='data' ng-repeat="loc  in data"
                position="{{loc.address}}" 
                icon="{url:'img/pickup-{{loc.delivered}}.png'}"
                title="AWB # :{{loc.slip_no}}"
                id="{{loc.slip_no}}"
                on-click="openPikcupDetailPage(loc)"
                >
                
            </marker>
            
            <info-window id="ship" max-width="200">
                <div ng-non-bindable="">
                    <strong>AWB#: {{shipment_detail.slip_no}}</strong> <br/>
                    <strong>Address: </strong>{{shipment_detail.address}}<br/>
                    <a class="lable input-label map-btn" href="#/app/booking-detail/{{shipment_detail.slip_no}}" >Detail</a>
                </div>
            </info-window>
       
       
        <directions 
          draggable="false"
          suppress-markers="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          waypoints="{{path}}"
          origin="{{origin}}"
          destination="{{destination}}"
          suppressMarkers='true'
          >
        </directions>
      </ng-map> 
      Directions path length:
        {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}
    </div>
      
     
   
            
            
            
        </ng-map>
    
    </ion-content>
</ion-view>

















