<ion-view view-title="Sect Pickup Location">
  <ion-content >
      <div ng-if="$parent.my_lat">
        <ng-map zoom="18" center="[{{$parent.my_lat}},{{$parent.my_long}}]" >
                <marker
                    centered="true"
                    position="[{{$parent.my_lat}},{{$parent.my_long}}]" 
                    draggable="true"
                    centered="true"
                    on-dragend="addLatLong()">
                </marker>
        </ng-map>
      </div>

  </ion-content>
</ion-view>
