<ion-view view-title="Tracking Details">
    <ion-content>
        <div class="row">

            <div class = "col status"><p> <strong>Status</strong> </p> </div>
            <div class = "col">
                <button class="button button-balanced button-small">
                    {{tracking_detail.current_status}}
                </button>  
            </div>
            <div class = "col">   </div>
        </div>
        
        <div class = "row">
            <div class = "col">
                
                <div class="card">
                    <div class="item background">
                        <i class="icon ion-arrow-up-a"></i> Additional Information
                    </div>

                    <div class="item item-text-wrap">

                        <div class="list">
                            <div class="item"><i class="icon ion-location"></i>Origin:{{tracking_detail.origin}}</div>
                            <div class="item"><i class="icon ion-location"></i>Destination:{{tracking_detail.destination}}</div>
                        </div>


                    </div>
                </div>
                
                
                <div class="card">
                    <div class="item background">
                        <i class="icon ion-arrow-up-a"></i> Collection
                    </div>

                    <div class="item item-text-wrap">

                        <div class="list">
                            <div class="item"><i class="icon ion-person"></i>{{tracking_detail.sender_name}}</div>
                            <div class="item"><i class="icon ion-location"></i>{{tracking_detail.sender_address}}</div>
                            <div class="item"><i class="icon ion-email"></i>{{tracking_detail.sender_email}}</div>
                            <div class="item"><i class="icon ion-iphone"></i> {{tracking_detail.sender_phone}}</div>
                        </div>


                    </div>
                </div>


                <div class="card">
                    <div class="item background">
                        <i class="icon ion-arrow-down-a"></i> Delivery
                    </div>

                    <div class="item item-text-wrap">
                        <div class="item"><i class="icon ion-person"></i>{{tracking_detail.reciever_name}}</div>
                        <div class="item"><i class="icon ion-location"></i>{{tracking_detail.reciever_address}}</div>
                        <div class="item"><i class="icon ion-email"></i>{{tracking_detail.reciever_email}}</div>
                        <div class="item"><i class="icon ion-iphone"></i> {{tracking_detail.reciever_phone}}</div>

                    </div>
                </div>


                <div class="card">
                    <div class="item background">
                        Other Details
                    </div>

                    <div class="item item-text-wrap other">
                        <table>
                            <tr>
                                <td><strong>Collect:</strong></td>
                                <td>{{tracking_detail.parcel_amount}}(SAR)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
<!--                <div class="card">
                    <div class="item background">
                        Travel History
                    </div>

                    <div class="item item-text-wrap other">
                        <table>
                            <thead>
                                <th>Sr No.</th>
                                <th>Date & Time</th>
                                <th>Activities</th>
                                <th>Location</th>
                                <th>Detail</th>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="his in trackhistory">
                                    <td>{{$index}}</td>
                                    <td>{{his.entry_date}} {{his.pickup_time}}</td>
                                    <td>{{his.Activites}}</td>
                                    <td>{{his.new_location}}</td>
                                    <td>{{his.Details}}</td>
                                </tr>
                            </tbody>
                           
                        </table>

                    </div>
                </div>-->
            </div>

        </div>

    </ion-content>
</ion-view>
