
.center {
}
.map-btn {
    background-color: #797979 !important;
    font-size: 15px;
    font-weight: bold;
    width: 240px;
}
#custom {
    height: 100%;
    position: absolute;
    width: 100%;
}
.scroll {
    height: 100%;
}
.btn-info {
    background-color: #fff;
    border: medium none;
    padding: 10px 30px;
}
placeholder {
    padding: 5px;
}
.top-btn {
    display: block;
}
.btn.btn-primary.btn-block {
    border-radius: 0;
}
.mape {
    margin-bottom: 10px;
}
.input {
    margin-bottom: 10px;
}
.form-control {
    border: medium none #999;
    border-radius: 0;
}
#googleMap {
    height: 380px;
    width: 500px;
}
#profile-bg {
    background-position: 50% 20%;
    background-size: 100% auto;
    height: 150px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 44px;
    width: 100%;
}
#content {
    background: rgba(0, 0, 0, 0) url("../img/Light-Blue.png") repeat scroll 0 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 200px;
    position: relative;
}
#profile-info {
    position: absolute;
    text-align: center;
    top: 104px;
    width: 100%;
    z-index: 2;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    color: #888;
    font-size: 15px;
}
#profile-description a {
    color: #888;
}
#profile-image {
    border: 1px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: block;
    height: 128px;
    margin: 30px auto 0;
    width: 128px;
}
.list-item-content {
    padding: 5px;
}
.list-item {
    color: #666666;
}
.post {
    color: #444;
}
.post-time {
    color: #888;
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.post-profile-image {
    display: inline-block;
    height: 48px;
    margin-right: 10px;
    vertical-align: top;
    width: 48px;
}
.post-options {
    bottom: 5px;
    color: #888;
    font-size: 16px;
    position: absolute;
    right: 5px;
}
.login {
    text-align: center;
}
.login p a {
    color: #fff;
}
.login img {
    padding: 20px 0 30px;
    text-align: center;
}
.login button {
    background-color: #fff;
    border-radius: 0;
}
.align-text {
    text-align: center;
}
.align-text p {
    text-align: justify;
}
.background {
    background-color: rgba(101, 96, 96, 0.1);
}
.other table {
    font-size: 12px;
}
.status p {
    margin-top: 8px;
    padding-left: 20px;
}
.span {
    float: right;
}
.right-sapn {
    float: left;
}
.o-span {
    float: left;
    margin-left: 40px;
}
.span .button-block {
    margin: 0;
    width: auto;
}
.o-span > p {
    font-size: 17px;
}
.span .icon.ion-eye {
    font-size: 30px;
}
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background-color: #ef473a;
}
.bar.bar-stable .title {
    color: #fff;
}
.bar.bar-stable {
    background-color: #ef473a;
    border-color: #b2b2b2;
}
.item-complex .item-content, .item-radio .item-content {
    border: medium none;
    color: white;
    padding: 16px 49px 16px 16px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.bar-stable .button.button-clear {
    color: #fff;
}
.input-label {
    color: #acacac;
    display: table;
    font-size: 14px;
    max-width: 200px;
    padding: 7px 10px 7px 0;
    width: 0;
}
.hello {
    margin-top: 42px;
}
.hello-2 {
    margin-top: 56px;
}
a {
    text-decoration: none;
}
.active {
    background-color: #000;
    color: #fff;
}
.ion-input-select--large, .ion-input-select, select {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    border: thin solid #dddddd;
    box-sizing: border-box;
    color: #333;
    display: inline;
    font-weight: 300;
    overflow: hidden;
    vertical-align: middle;
}
.ion-input-select--large {
    background-image: url("http://i.imgur.com/7rGM4IX.png");
    font-size: 1.6rem;
    padding: 1.2rem 0;
    text-indent: 40px;
    width: 420px;
}
.ion-input-select {
    background-image: url("http://i.imgur.com/nA9xx1X.png");
    font-size: 1rem;
    padding: 0.5rem 0;
    text-indent: 20px;
    width: 100%;
}
:focus {
    outline: medium none;
}
.item-radio input:checked + .radio-content .item-content {
    color: #85baf5;
}
.m-color {
    background-color: #000;
}
.item {
    border-bottom: 1px solid #c2c2c2;
}
.custom-input{
  border-radius: 7px;
  margin: 10px;
}
.item-complex .item-content, .item-radio .item-content {
    background-color: #000;
}
.search-box {
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
}
.search-box span {
    float: right;
    font-size: 25px;
    margin-top: -27px;
}
.boking-list {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) repeat scroll 0 0;
    height: 70px;
    padding-top: 5px;
}
.login-box {
    background-color: #d14119 !important;
}
.button.button-block {
    background-color: #6ec7ea;
}
.das-bord {
    margin-bottom: 5px;
    text-align: center;
}
.das-bord .icon {
    color: #fff;
    font-size: 72px;
}
.das-bord a {
    background-color: #3f3f3f;
    display: block;
    padding: 30px 0;
}
.das-bord a:hover {
    background-color: #ef473a;
}
.lable-green, .lable {
    background-color: #f00;
    border-radius: 3px;
    color: #fff;
    float: right;
    padding: 10px;
}
.lable-green {
    background-color: #093;
}
.new-t {
    top: 0;
}
.round {
    background-color: #ed6659;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    padding: 11px 14px 14px;
}
.green {
    background-color: #498649;
}
.card .item {
    font-size: 15px;
}
.cord-detale {
    margin-left: 40px;
}
.box-d {
    float: left;
}
.right-m {
    margin-right: 81px;
}
.box-d p {
    font-size: 18px;
}
.d-block {
    display: block;
}
.item.boking-list {
    cursor: pointer;
}
.number {
    color: #000;
    font-size: 18px !important;
    font-weight: bold;
}
.num-col-chan p {
    color: #f00;
}
.new-button {
    background-color: #f00;
    border-radius: 0;
    color: #fff;
    width: 100%;
}
.yellow-btn {
    background-color: #ffba00;
}
.new-button1 {
    background-color: #390 !important;
    color: #fff !important;
}
.das-bord a p {
    color: #fff;
    font-size: 16px;
}
.btn-width {
    border-radius:50px !important;
    padding: 6px;
    font-size: 16px;
    margin-top: 4px;
    /* padding-bottom: 15px; */
    /* padding-top: 15px; */
    text-align: center;
    width: 100%;
}
.set-number span {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}
.btn-width img{margin-bottom: -6px;width: 40px;}
button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
	color:#FFF;
    background-color: rgba(79, 150, 228, 0.66);
    width: 100%;
}
.acc-back-col{
	background-color:rgba(214, 212, 212, 0.45);
}
.acc-back-col1{
	background-color: rgba(204, 204, 204, 0.08);
}
.set-td-col{
	color:#F00;
}
.set-login-btn{
	background-color:#00F !important;
}
  .slider-container {
    margin: 0;
    padding:0;
    position:relative;
  }

  .bottom-right {
    position:absolute;
    bottom: 0;
    right: 0;
  }
.book-heading p{
	letter-spacing:1px;
	padding-top:10px;
	font-size:16px;
	font-weight:500;
	padding-left:10px;
}
.text-set-right{
	float:right;
}
.set-foot-border{
	border-bottom:1px solid #CCC;
}
.book-img img{
	width:100%;
}
.book-left{
	padding-left:10px;
	float:left;
}
.book-right{
    margin-top: -12px;
	padding-right:10px;
	float:right;
}
.img-border{
	margin-right:5px;
	margin-left:5px;
	margin-top:-5px;
	border:1px solid #CCC;
}
.img-border i{
	color:#900;
}
.top-col{
    background-color:rgba(79, 150, 228, 0.12);
}
.top-col span{
	color:#000;
}
.top-col-two{
	background-color: #f3efef;
}
.btn-set-top{
	border:none ;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
}
.btn-set-top button{
	z-index:1000;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}
.top-margin-set{
	margin-top:38px;
}
.back-color-one{
	margin-top: -15px;
	background-color: rgba(226, 226, 226, 0.63);
}
.last-back{
	background-color:rgb(29, 202, 29);
}
.part2 {
	background-color: rgba(226, 226, 226, 0.63);
}
.last-btn-form{
	margin-bottom:40px;
}
.fix_btn_bottom{
	position:absolute;
	bottom:0;
	margin-bottom:0 !important;
	border-radius:0;
}
